body{
    background-color: rgb(238, 238, 238);
    font-family: 'Bitter', serif;
}
.logoprincipal{
    width: 25%;
    display: block;
    margin: auto;
}
.menu{
    background-color:#737373;
    padding-left: 0%;
    padding:10px;
    overflow: hidden;
    font-size: 20px;
    
}
.navegacion{
    background-color:#737373;  
      
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    display: inline;
}

.menu li a{
    color: rgba(0,0,0,.55);
    text-decoration:none;
    padding:10px;
    

}

.card{
    background-color: #E1D4BB !important;
}

.list-group-item{
    background-color: #E1D4BB !important;
}

.form-check-input {
    background-color: #e1d4bb !important;
}
.menu li:hover{ font-weight:bold; background-color: rgb(238, 238, 238);transform: scale(1.1);}
.navegacion li:hover{ font-weight:bold; background-color: rgb(238, 238, 238);transform: scale(1.1);}

.presentacion{
    background-color: rgb(219, 206, 181);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    border-style:solid;
    border-color:#b7ab94ea;
    border-width: 1px; 
    margin: 0px 15px 0px 15px;

}

.img{
    display: block;
    margin: auto;
    max-height: 200px;
}

.buscar{
    justify-content:center;
}

.cardreceta{
    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    border-color:#b7ab94ea;
    padding:15px;
    margin:15px;
    margin-top: 0%;
    justify-content:center;
    background-color: #E1D4BB;
    font-size: 20px;
}
.video{
    display: block;
    margin: auto;
}
.ingredientes{
    margin-top: 15px;
    text-align: start;
    text-decoration: none;
    list-style: none;
    
}


/* .checkbox {
    cursor: pointer;
    border-radius: 5px;
    background-color:#E1D4BB;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #b7ab94ea;
} */
  
/* ----------------------------------------------------------------------------------------- */
                                /* ESTILO FOOTER */
/* ----------------------------------------------------------------------------------------- */

footer{
    background-color: #737373;
    margin-top:15px;
}

.descripcion{
    font-size: 10px;
    text-align: center;
    grid-area: descripcion;

}
.textoFooterRedes{
    font-size: 14px;
    text-align: center;
    transition: transform 0.2;
}
.textoFooterRedes i:hover {
    transform: scale(1.2); /* Aumentamos el tamaño del icono al 120% */
  }



